<div class="btns-wrapper">
  <app-button [btnClass]="'btn-download'" [title]="'preuzmi sadržaj'"></app-button>
  <div class="double-btn-container">
    <app-button class="btn" [title]="'Pošalji u sustav'"></app-button>
    <app-button class="btn" [title]="'Pošalji u CMS'"></app-button>
  </div>
  <app-button [btnClass]="'btn-add-to-cart '" [title]="'dodaj u košaricu'"></app-button>
  <app-button
    [btnClass]="'btn-download-sample'"
    [title]="'Preuzmi pregledni primjerak'"
  ></app-button>
</div>
