.main-wrapper{
    display: flex;
}

app-main{
    flex-basis: 70%;
    @media (max-width: 768px) {
        flex-basis: 100%;
    }
}

app-sidebar-main{
    flex-basis: 30%;
    @media (max-width: 768px) {
        flex-basis: 0;
    }
}