<div class="photo-picker-wrapper">
  <div class="info-tooltip-align">
    <span>Kako mogu koristiti ovaj sadržaj?</span>
    <app-tooltip></app-tooltip>
  </div>
  <div class="photo-size-container">
    <h3>IMAGE 001</h3>
    <div class="radio-wrapper">
      <div class="align-content">
        <mat-radio-button value="1"
          >LARGE
          <p class="size">Web(2667x4000)</p></mat-radio-button
        >
      </div>
      <p>170.00KN</p>
    </div>
    <div class="radio-wrapper">
      <div class="align-content">
        <mat-radio-button value="2"
          >SMALL
          <p class="size">Web(1072x1600)</p></mat-radio-button
        >
      </div>
      <p>130.00KN</p>
    </div>
  </div>
  <div class="checkbox-container">
    <input type="checkbox" id="authorCheckbox" />
    <label for="authorCheckbox">Preuzmi s potpisom autora</label>
  </div>
</div>
